body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.card-wrap {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 8px;
  text-align: center;
}