*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
fieldset,
label,
legend,
input,
textarea,
button,
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td,
article,
aside,
section,
header,
main,
nav,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Pretendard'sans-serif;
}

html {
    min-height: 100dvh;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
}

body:has(.Dark) {
    background-color: #444;
}

.Light {
    border: 1px solid;
}

.Dark {
    background-color: #444;
    border: 1px solid white;
}

.Dark>button {
    color: white;
}

.Dark>input {
    background-color: #666;
    color: white;
}

input:not(:disabled) {
    padding: 5px 10px;
    box-shadow: 0 0 16px #ce2dff;
}

.Dark>input:not(:disabled) {
    padding: 5px 10px;
    box-shadow: 0 0 16px #fe2b2b;
}

.hidden {
    display: none;
}